.header{
  background-color: blue;
  width: fit-content;
  padding: 15px 14px;
  border-radius: 15%;
  margin: 15px 15px;
}

.btn{
  background-color: greenyellow;
  padding: 20px;
  border-radius: 10px;
  border: 10px;
}