*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,
body{
  height: 100%;
  width: 100%;
}



.light{
  background-color: lightseagreen;
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
}

.dark{
  background-color: darkslategray;
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
}

.nav2{
  display: flex;
  gap: 30px;
}