*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  /* background-color: #fff; */
}
html,
body{
  height: 100%;
  width: 100%;
}
.card{
  background-color: yellow;
  padding: 2px;
  margin: 10px;
}